.TodoList {
  width: 100%;
  margin: 10px auto;
}

.TodoListStyle {
  margin-top: 50px;
}

.TodoListbutton {
  margin-left: -30px;
  position: absolute;
}

.icon {
  background-color: brown;
}

.Input {
  text-decoration: line-through;
}
